<!doctype html>
<html lang="en">
  <head>
    <style>
      .body{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }
      .form-signin .checkbox {
        font-weight: 400;
      }
      .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
      }
      .form-signin .form-control:focus {
        z-index: 2;
      }
      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }
      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    </style>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registration</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  </head>

  <body class="text-center body">
    <form class="form-signin" id="formulir">
      {% csrf_token %}
      <h1 class="h3 mb-3 font-weight-normal">Please register</h1>

      <div id="invalid-email"></div>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" oninput="emailValidation()" required autofocus>

      <label for="inputName" class="sr-only">Name</label>
      <input type="text" id="inputName" class="form-control" placeholder="Name" oninput="nameValidation()" required>
	  

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" oninput="passwordValidation()" required>

      <button class="btn btn-lg btn-primary btn-block" id="submit" type="submit" disabled="true">Submit</button>
      
      <p class="mt-5 mb-3 text-muted">&copy; Windu Andira 2018</p>
    </form>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script type="text/javascript">
    $(document).on('submit','#formulir',function(e){
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'/regist/',
        data:{
          email:$('#inputEmail').val(),
          name:$('#inputName').val(),
          password:$('#inputPassword').val(),
          csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
        },
        success:function(){
          alert("Register Success!");
        }
      });
    });
  </script>

  <script>
	var emailIsValid = false;
	var nameIsValid = false;
	var passwordIsValid = false;

    function emailValidation() {
      var inputEmail = $('#inputEmail').val();
      var csrfmiddlewaretoken = $('[name=csrfmiddlewaretoken]').val();
      $.ajax({
          method : "POST",
          url : "/email_check/",
          data : {email:inputEmail},
          dataType : "json",
          headers: {
              "X-CSRFToken": csrfmiddlewaretoken
          },
          success : function (datajson) {
              if (datajson.email_is_exist) {
                  $('#invalid-email').text("Email is already exist");
                  $('#invalid-email').css({"color":"red","text-align":"left"});
				  emailIsValid = false;
              } else {
                  $('#invalid-email').text("");
				  emailIsValid = true;
              }
          },

          error: function (error) {
            console.log("Data JSON tidak berhasil diakses");
          },
      });
	  buttonIsVisible()
	}
	
	function nameValidation() {
		var inputName = $('#inputName').val();
		var csrfmiddlewaretoken = $('[name=csrfmiddlewaretoken]').val();
		if(inputName != ''){
			nameIsValid = true;
		} else{
			nameIsValid = false;
		}
		buttonIsVisible()
    }
	
	function passwordValidation() {
		var inputPassword = $('#inputPassword').val();
		var csrfmiddlewaretoken = $('[name=csrfmiddlewaretoken]').val();
		if(inputPassword != ''){
			passwordIsValid = true;
		} else{
			passwordIsValid = false;
		}
		buttonIsVisible()
    }
	
	function buttonIsVisible() {
	console.log('email:' + emailIsValid);
	console.log('un:' + nameIsValid);
	console.log('pass:' + passwordIsValid);
    if (emailIsValid && passwordIsValid && nameIsValid) {
        $('#submit').prop('disabled', false);
    } else{
        $('#submit').prop('disabled', true);
    }
}

  </script>
</html>